@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Lexend', sans-serif;
}

/* Background Parallax */
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/images/toilet_background.png') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}

/* Hero Text */
.hero-text {
  position: sticky;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 12rem;
  z-index: 1;
}

/* The Toilet */
.toilet {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
